<launch>  
  
  <arg name="rviz" default="True" />

  <group>
    <include file="$(find freenect_launch)/launch/freenect.launch"/>
  </group>
  
  <group>
  	<node pkg="pcl_tracking" name="pcl_input" type="pcl_input" args="input:=/camera/depth/points"/>
  </group>
  
  <group>
    <node pkg="pcl_tracking" name="kinect_tf_broadcaster" type="kinect_tf_broadcaster"/>
  </group>

  <group>
    <node pkg="pcl_tracking" name="marker_transform" type="marker_transform"/>
  </group>

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pcl_tracking)/cfg/setting.rviz" />
  </group>

</launch>